@font-face {
  font-family: "Quentin";
  src: local("Quentin"), url("../fonts/Quentin.otf") format("opentype");
}

@font-face {
  font-family: "Tiempos Fine";
  src: local("Tiempos Fine"),
    url("../fonts/TiemposFine-Bold.otf") format("opentype");
}

body {
  background: #183028;
  background-image: url(../img/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  margin: 0 auto;
  max-width: 940px;
}

.main-content::before {
  content: "";
  display: block;
  width: 100px;
  height: 9px;
  background-color: #ffdf37;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.main-content__title {
  font-family: "Tiempos Fine";
  font-display: swap;
  font-size: 50px;
  color: #ffffff;
  letter-spacing: 0.270833px;
  line-height: 60px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Check className below */
.main-content__title_sized {
  font-family: "Quentin";
  font-size: 70px;
  font-weight: normal;
  letter-spacing: normal;
  padding-left: 20px;
  padding-right: 10px;
}

/* reset button styles */
.main-content__button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border: solid 1px transparent;
  padding-top: 3px;
  padding-bottom: 3px;
  outline: none;
}

.main-content__button:active {
  transform: translateY(1px);
}

.main-content__button:hover,
.main-content__button:focus {
  opacity: 0.8;
}

.popup-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.popup-video {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

.close-button-wrapper {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

.close-button {
  cursor: pointer;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100px;
  height: 50px;
}

.close-button-img {
  width: 30px;
  height: 30px;
  opacity: 0.6;
}

.close-button-img:active {
  transform: translateY(1px);
}

.close-button-img:hover,
.close-button-img:focus {
  opacity: 1;
}

@media (max-width: 1024px) {
  body {
    background-image: url(../img/main1024.jpg);
  }
}
